@keyframes point-1 {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes point-2 {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes point-3 {
    0%, 50% {
        opacity: 0%;
    }

    75% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}