@media screen and (max-width: 1300px) {

    /* LEFT SIDE */
    .left-side {
        width: 330px;
    }

    .left-side img {
        top: 50px;
        left: calc(330px /3);
    }

    /* RIGHT SIDE */
    .right-side {
        left: 350px;
    }
}

@media screen and (max-width: 900px) {


    .inner {
        padding: 40px;
    }

    /* LEFT SIDE */
    .left-side {
        width: 230px;
    }

    .left-side img {
        top: 50px;
        left: calc(330px /4);
        width: 100px;
    }

    /* RIGHT SIDE */
    .right-side {
        left: 250px;
    }


}

@media screen and (max-width: 800px) {


    .logo {
        display: flex;
    }


    .left-side {
        display: none;
    }

    .right-side {
        background: #3E1929;
        position: absolute;
        left: 0;
    }

    .section-contact {
        min-height: 100vh;
    }

    .contact-horaire {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    .flex-contact {
        text-align: center;
        padding-top: 100px;
        max-width: 300px;
    }

    .flex-horaire {
        min-width: 300px;
        padding-top: 100px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;

    }

    .images img {
        width: calc(100vw / 3);
    }

}

@media screen and (max-width: 430px) {

    .inner {
        padding: 30px;
    }

    .innerhome p:nth-child(1) {
        display: none;
    }

    .innerhome p {
        font-size: 30px;
        max-width: 300px;
        margin: 0px auto;
    }

    .innerhome h1,
    .loader h1 {
        font-size: 80px;
    }

    .innerhome h1 {
        display: none;
    }


    .images img {
        width: calc(100vw / 2);
    }

    #modal {
        height: 100%;
    }
}